---
import Accordion from "@/components/Accordion.astro";
---

<section
    id="galeria"
    class="flex flex-col w-full mt-14 px-6 py-12 h-full lg:px-40 bg-burble gap-10 lg:justify-center lg:items-start"
>
    <!-- Texto -->
    <aside class="lg:w-1/2">
        <p class="flex items-center text-base text-text-section lg:text-xl">
            Un vistazo nuestra web
            <span class="flex-1 h-px bg-gray-300 ml-4"></span>
        </p>
        <p class="text-lg font-black font-fallback lg:text-2xl">
            Interfaz fácil de usar
        </p>
    </aside>
    <Accordion />
</section>
