<footer class="bg-footer flex flex-col items-center justify-center h-72 gap-8">
  <div>
    <a href="#top">
      <img
        src="/logotipo.svg"
        alt="Logo Agenda Smart"
        class="h-14 w-auto"
      /></a
    >
  </div>
  <div>
    <p class="font-secondary text-white text-sm sm:text-lg text-center">
      Todos los derechos reservados
    </p>
  </div>
</footer>
