---
import Form from "@/components/Form.astro";
import Slider from "@/components/Slider.astro";
---

<section class="max-w-[1920px]">
  <div
    class="absolute top-[600px] z-40 w-11/12 mx-auto left-0 right-0 bg-white rounded-xl md:w-10/12 md:mx-16 lg:mx-auto lg:w-xs lg:right-0 lg:left-6/12 lg:fixed lg:top-48 2xl:top-[35%] xl:mt-0 xl:w-sm"
  >
    <Form />
  </div>
  <div class="z-10  md:h-[600px]">
    <Slider />
  </div>
</section>
