---
import Form from "@/components/Form.astro";
import Slider from "@/components/Slider.astro";
---

<section class="max-w-[1920px]">
  <div
    class="absolute top-[650px] z-20 w-11/12 mx-auto left-0 right-0 bg-white rounded-xl md:w-10/12 md:mx-16 lg:mx-auto lg:w-xs lg:right-0 lg:left-8/12 lg:fixed lg:top-48 2xl:top-110 xl:mt-0 xl:w-sm"
  >
    <Form />
  </div>
  <div class="z-10 h-[600px] md:h-[850px]">
    <Slider />
  </div>
</section>
